<% content_for(:secondary_links) do %>
  <menu>
    <% if Booru.current %>
     <li><%= link_to "Listing", booru_posts_path(Booru.current.slug) %></li>
      <li id="secondary-links-posts-upload" class="nonessential"><%= link_to "Upload", new_booru_upload_path(Booru.current.slug) %></li>
      <li id="secondary-links-posts-hot"><%= link_to "Hot", booru_posts_path(Booru.current.slug, :tags => "order:rank") %></li>
    <% end %>
    <% unless CurrentUser.is_anonymous? %>
      <li id="secondary-links-posts-favorites"><%= link_to "Favorites", favorites_path %></li>
      <% if CurrentUser.has_saved_searches? %>
        <li id="secondary-links-posts-saved-searches"><%= link_to "Saved searches", saved_searches_path %></li>
      <% end %>
    <% end %>
    <% if Booru.current %>
      <li id="secondary-links-posts-changes" class="nonessential"><%= link_to "Changes", booru_post_versions_path(Booru.current.slug) %></li>
      <li id="secondary-links-posts-help" class="nonessential"><%= link_to "Help", booru_wiki_pages_path(Booru.current.slug, :title => "help:posts") %></li>
    <% end %>
  </menu>
<% end %>
