<ul>
  <li><%= link_to "Resize to window", "#", :id => "image-resize-to-window-link" %></li>
  <li><%= link_to "Favorite", favorites_path(:post_id => post.id), :remote => true, :method => :post, :id => "add-to-favorites", :title => "Shortcut is F" %></li>
  <li><%= link_to "Unfavorite", favorite_path(post), :remote => true, :method => :delete, :id => "remove-from-favorites" %></li>
  <li><%= link_to "Edit", "#", :id => "side-edit-link" %></li>
  <li><%= link_to_if post.visible?, "Download", post.file_url, :download => post.tag_string + " - " + post.file_name %></li>
  <li id="add-to-pool-list"><%= link_to "Add to pool", "#", :id => "pool" %></li>
  <% if post.is_note_locked? %>
    <li id="add-notes-list"><span id="note-locked-notice">Note locked</span></li>
  <% else %>
    <li id="add-notes-list"><%= link_to "Add notes", "#", :id => "translate", :title => "Shortcut is N" %></li>
  <% end %>
  <% if post.has_notes? %>
    <li id="copy-all-notes-list"><%= link_to "Copy all notes", "#", :id => "copy-notes" %></li>
  <% end %>

  <% if post.is_status_locked? %>
    <li><span id="status-locked-notice">Status locked</span></li>
  <% else %>
    <% if !post.is_deleted? %>
      <li><%= link_to "Flag", new_post_flag_path(:post_id => post.id), :id => "flag" %></li>
    <% end %>

    <% if CurrentUser.is_moderator? %>
      <% if post.is_deleted? %>
        <li><%= link_to "Undelete", undelete_moderator_post_post_path(:post_id => post.id), :remote => true, :method => :post, :id => "undelete", :data => { :confirm => "Are you sure you want to undelete this post?" } %></li>
        <% if post.fav_count > 0 && post.parent_id %>
          <li><%= link_to "Move favorites", confirm_move_favorites_moderator_post_post_path(:post_id => post.id) %></li>
        <% end %>
      <% else %>
        <li><%= link_to "Delete", confirm_delete_moderator_post_post_path(:post_id => post.id) %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
