<div id="c-boorus">
  <div id="a-index">
    <h1>Boorudex</h1>

    <p>Here's a list of all the available Boorus.</p>

    <ul>
      <% @boorus.each do |booru| %>
        <li><strong><%= link_to booru.name, booru_posts_path(booru.slug) %></strong><% if booru.desc.present? %>: <%= booru.desc %><% end %></li>
      <% end %>
    </ul>

    <%= numbered_paginator(@boorus) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Booru Listing - <%= Danbooru.config.app_name %>
<% end %>
